# NOTE: Capistrano系のデプロイに必要な環境変数は環境していると読み込まれないため一番上位に記述
app_path: ''
deploy_user: ''
deploy_host: ''
ssh_key_path: ''
ssh_port: ''
db_user: ''
db_host: ''
db_pass: ''
web_concurrency: ''
secret_key_base: ''
secret_token: ''
